<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vincent.filepicker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".activity.ImagePickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/vw_FilePickerTheme" />

        <activity android:name=".activity.ImageBrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/vw_FilePickerTheme"
            android:hardwareAccelerated="false" />

        <activity android:name=".activity.VideoPickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/vw_FilePickerTheme" />

        <activity android:name=".activity.AudioPickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/vw_FilePickerTheme" />

        <activity android:name=".activity.NormalFilePickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/vw_FilePickerTheme" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
